.compani-about{
   margin-top: 90px;
   margin-bottom: 90px;
}
.compani-about__main{
   display: flex;
   align-items: center;
}
.compani-about__title{
   font-family: 'Open Sans';
   font-weight: bold;
   color:#32505a;
}
.compani-about__text p{
   line-height: 1.5;
   font-family: 'Open Sans';
   font-weight: normal;
   font-size :14px;
}
.compani__img{
   float:right;
   margin-left: 20px;
}
.about-company-title{
   margin-left: 20%;
   margin-bottom: 50px;
}