.contact {
  background-image: url("../img/Карта\ градиента\ 783.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 60px;
  font-family: "Open Sans";
}
.contact__main {
  width: 60%;
  margin-left: 40%;
}
.input-form {
  margin-right: 40px;
  outline: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-top: none;
  border-left: none;
  background-color: transparent;
  padding: 10px;
  color: white;
}
.input-form:hover {
  background-color: #564b54;
}
.submit {
  display: inline-block;
  padding: 11px 45px 15px 45px;
  color: white;
  background-color: #fd4f10;
  border: 1px solid #fd4f10;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
}
.contact__text {
  font-size: 12px;
}
