.by-link {
   display: block;
   padding: 11px 30px 15px 32px;
   color: white;
   background-color: #fd4f10;
   border: 1px solid #FD4F10;
   border-radius: 5px;
   font-family: 'Open Sans';
   font-style: normal;
   margin: 25px auto;
}

.by-link img {
   margin: -4px;
   margin-left: 20px;
}

.btn__plus,
.btn__minus {
   text-align: center;
   font-size: 10px;
   width: 19px;
   height: 18px;
   border: 1px solid #979ca2;
   background-color: white;
   border-radius: 100%;
   outline: none;
   margin: 0px 10px;
}

.count-element {
   font-family: 'Open Sans';
   font-style: normal;
}