.Reviews{
   margin-top:50px;
}
.Reviews__list{
   display: flex;
}
.Reviews__title{
   margin-top:50px;
   margin-bottom:40px;
   margin-left: 31%;
}
.Reviews__item{
   border: 1px solid #e6e6e6;
   padding: 40px;
   font-family: 'Open Sans';
   font-weight: normal;
   margin: 10px;
}
.Reviews__user{
   display:flex;
   align-items: center;
}
.Data{
   color:#c9c9c9;
}
.Reviews__text{
   margin: 30px 0;
   line-height: 1.5;

}
.user-avatar{
   margin-right: 20px;
}
.user-name{
   color:#5e81a7;
}
.sotsial-set{
   margin-top:30px;
}