.chegirma {
   margin-top: 170px;
   background-color: #900d0d;
   color: white;
   height: 130px;
   width: 130px;
   border-radius: 100%;
   padding: 30px 38px;
   font-family: 'Open Sans';
   font-weight: bold;
   margin-left: 85px;
   text-align: center;
}
.slayd_main{
   display: flex;
   top:150px;
   left:120px;
   position: absolute;
}
.slayd_main__text {
   font-family: 'Open Sans';
   color: #1fba0a;
   font-size: 80px;
   margin: 109px 0px 20px 0px;
}
.slayd_main__text--two{
    font-family: 'Open Sans';
    font-weight: normal;
    color:white;
    font-size: 24px;
}